.product {
    border: 1px solid #e2e2e2;
    position: relative;
    width: 300px;
    border-radius: 10px;
}

.product__body {
    display: flex;
    flex-direction: column;
    margin: 30px 25px;
}

.product__name {
    font-weight: bold;
    color: #333333;
    text-decoration: none;
    font-size: 20px;
}

.product__description {
    color: #666666;
}

.product__price {
    font-weight: bold;
    color: #333333;
    font-size: 35px;
}

.products {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
justify-content: space-around;
    margin: 50px auto;
    font-family: 'Roboto';
}

.product__btn {
    width: 50px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #4ed17b;
    display: flex;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
}

.product__image {
    dsplay: block;
    margin: 0 auto;
    max-width: 100%;
    height: 205px;
    border-radius: 10px 10px 0 0;
}

.fa {
    margin-top: 5px;
    color: #ffffff;
}
.product__footer {
    display: flex;
}